/* Compact Adwaita */
.compact label {
  font-size: 0.833em;
}
.compact entry {
  font-size: 0.833em;
  min-height: 20px;
  padding: 0px 6px;
}
.compact button.text-button {
  padding: 3px 12px;
  min-width: 0px;
  min-height: 0px;
}
.compact button.text-button label {
  padding: 0px;
  margin: 0px;
}
.compact check {
 min-width: 10px;
 min-height: 10px;
 -gtk-icon-size: 9px;
}
.compact checkbutton {
 padding: 0px;
}
.compact list.boxed-list {
  border-radius: 11px;
}
.compact list.boxed-list > row > box {
  min-height: 36px;
  margin-left: 9px;
  margin-right: 9px;
}
.compact list.boxed-list > row.expander > box {
  min-height: 36px;
  margin-left: 0px;
  margin-right: 0px;
}
.compact row.header > box {
  min-height: 36px;
  margin-left: 9px;
  margin-right: 9px;
  -gtk-icon-size: 9px;
}
.compact list.nested > row > box {
  min-height: 36px;
  margin-left: 9px;
  margin-right: 9px;
}
.compact switch slider {
  min-height: 18px;
  min-width: 18px;
}
.compact dropdown button {
  padding: 2px 9px;
}
.compact preferencespage > scrolledwindow > viewport > clamp > box {
 margin: 6px 12px 18px 12px;
}



/* Card states */
list.boxed-list > row.card_completed {
  border-bottom-color: @success_bg_color;
}

list.boxed-list > row.card_postponed {
  border-bottom-color: @error_bg_color;
}

list.boxed-list > row.card_working {
  border-bottom-color: @warning_bg_color;
}